%section.green-section.no-gradient
  .header
    .logo
      = link_to root_path, class: "strip-color" do
        = image_tag "gratiboard.png", class: "logo-image"
    .right
      = link_to("Contact", "mailto:patrickswalls@gmail.com", class: "strip-color")
