%section.green-section
  .container.text-center
    %h1 Collect All The Nice Things People Say
    %a.cta{:href => ""} Call To Action
%section
  .container.masonry
    .masonry-item
      .masonry-item-content
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus tincidunt mauris non hendrerit.
        %span John
    .masonry-item
      .masonry-item-content
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus tincidunt mauris non hendrerit. Morbi fringilla vehicula lectus vitae molestie.
        %span John
    .masonry-item
      .masonry-item-content
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus tincidunt mauris non hendrerit. Morbi fringilla vehicula lectus vitae molestie. it. Donec maximus tincidunt mauris non hendrerit. Morbi fringilla vehicula lectus vitae molestie.
        %span John
    .masonry-item
      .masonry-item-content
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus tincidunt mauris non hendrerit. Morbi fringilla vehicula lectus vitae molestie. it. Donec maximus tincidunt mauris non hendrerit. Morbi fringilla vehicula lectus vitae molestie.
        %span John
    .masonry-item
      .masonry-item-content
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus tincidunt mauris non hendrerit. Morbi fringilla vehicula lectus vitae molestie. it. Donec maximus tincidunt mauris non hendrerit. Morbi fringilla vehicula lectus vitae molestie.
        %span John
