%section.green-section
  .container.text-center
    %h1 Collect All The Nice Things People Sayx
    %a.cta{:href => ""} Call To Action
%section
  .container.masonry
    - @gratitudes.each do |gratitude|
      .masonry-item
        .masonry-item-content
          %p= simple_format(gratitude.body)
          %span
            = link_to gratitude.user.email, "#{gratitude.user.email}"
