%section.green-section
  .container.text-center
    %h1
      Showcase the
      = fa_icon "heart"
      for Your Product
    %a.cta{:href => "/how_it_works" } How It Works

  .container.masonry
    - @all_gratitudes.each do |gratitude|
      = render "shared/gratitude", gratitude: gratitude
