// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  Montserrat,sans-serif;
}
.text-center {
  text-align: center;
}
h1 {
  font-size: 9vw;
  max-width: 780px;
  line-height: 1.4;
  margin: auto;
}
@media screen and (min-width: 980px) {
  h1 {
     font-size: 70px;
  }
}
.cta {
  padding: 15px 30px;
  background: white;
  display: inline-block;
  margin-top: 40px;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  font-size: 20px;
   box-shadow: 0 1px 1px 0 rgba(11,13,39,0.07), 0 2px 4px 0 rgba(9,12,36,0.11);

}
.container {
  max-width: 1120px;
  margin: auto;
  width: 100%;
  padding: 100px 0px 20px;

  &.hero {
    padding: 100px 20px;
  }

  &.smaller {
    max-width: 600px;
  }
}

.green-section {
  &.no-gradient {
    background: #33a07f;
  }
  background: linear-gradient(#33a07f,#8BD781);
  color: white;

  .logo {
    padding: 10px;
    font-size: 20px;
  }

  .right {
    padding: 10px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.masonry {
  column-count: 3;
  column-gap: 0;

  @media (max-width: 480px) {
    column-count: 1;
    column-gap: 0;
  }
}
.masonry-item {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  padding: 15px;
}
.masonry-item-content {
  border-radius: 3px;
  padding: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: 0 1px 1px 0 rgba(11, 13, 39, 0.07), 0 2px 4px 0 rgba(9, 12, 36, 0.11);
  border-radius: 5px;
  background-color: white;
  color: #6B7C93;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }

  p {
    font-size: 20px;
  }
}
p {
  font-size: 16px;
  line-height: 1.6;
}
span {
  padding-top: 10px;
  display: block;
  color: rgba(0,0,0,.44);
}

.strip-color {
  text-decoration: none;
  color: inherit;
}

.input-container {
  display: flex;
  flex-direction: column;

  outline: none;
  display: flex;

  label {
    margin-top: 10px;
  }

  input {
    height: 30px;
    border-radius: 2px;
    outline: none;
    border: none;
    background-color: white;
    font-size: 14px;
    padding-left: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
}

.call-to-action-button {
  background-color: #ff9999;
  color: white;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;

  &:hover {
    color: white;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    -webkit-transition: transform .25s ease-in-out;
    -moz-transition: transform .25s ease-in-out;
    -ms-transition: transform .25s ease-in-out;
  }
}
