%section.green-section
  .container.text-center
    %h1= @account.name
    %a.cta{:href => "#{@account.name}/submit"} Submit Gratitude

  .container.masonry
    - @all_gratitudes.each do |gratitude|
      = render "shared/gratitude", gratitude: gratitude
