%section.green-section
  .container.text-center
    %h1 Starter Story

%section
  .container.masonry
    - @gratitudes.each do |gratitude|
      .masonry-item
        .masonry-item-content
          %p= gratitude.body
          %span
            = link_to gratitude.account.name, "#{gratitude.account.name}"
